<header>

    <div class="container">
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="container text-center">
                    <img class="img-responsive" src="assets/img/logoacat.png" width="140" height="77">
                </div>
            </div>
            <ul class="navbar-nav ml-auto ">
                <div class="col">
                    <div class="row">
                        <li class="nav-item ">
                            <a class="nav-link text-white" routerLink="/loginproductor">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>&nbsp;&nbsp;
                        <li class="nav-item ">
                            <a class="nav-link text-white" routerLink="/loginproductor">
                                <i class="fa fa-sign-in"></i> Logout
                            </a>
                        </li>&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink="/registrarusuario">
                                <i class="fa fa-user"></i> Registrarse</a>
                        </li>
                    &nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-white " routerLink="/carrito">
                            <i class="fa fa-shopping-cart"></i> Carrito</a>
                    </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</header>

