<br>
<div class="container">
<div class="col-lg">
    <h2 style="color: black;">Buscar</h2>
    <input class="form-control" type="text" name="filterProductor"placeholder="Search.." [(ngModel)]="filterProductor">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID usuario</th>
                <th>Nombre</th>
                <th>Apelllido</th>
                <th>Correo</th>
                <th>Clave</th>
                <th>Teléfono</th>
                <th>Acciones</th>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let productor of productores | filterProductor:filterProductor">
                <td>{{productor.idproductor}}</td>
                <td>{{productor.nombreproductor}}</td>
                <td>{{productor.apellidoproductor}}</td>
                <td>{{productor.emailproductor}}</td>
                <td>{{productor.claveproductor}}</td>
                <td>{{productor.telefonoproductor}}</td>
                <td class="col-12">
                    <a class="btn btn-primary col " routerLink="/acat_admin/detalleproductor/{{productor.idproductor}}" ><i class="fa fa-eye"></i> Ver</a>
                    <br>
                    <a class="btn btn-secondary col " routerLink="/acat_admin/modificarproductor/{{productor.idproductor}}" ><i class="fa fa-edit"></i> Editar</a>
                    <br>
                    <a class="btn btn-danger col text-white" (click)="borrar(productor.idproductor)"><i class="fa fa-trash"></i> Eliminar</a>
                </td>
                <td>
                    <a class="btn btn-primary  " routerLink="/listarproductos/{{productor.idproductor}}" ><i class="fa fa-eye"></i> Ver productos</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

