<br>
<div class="container " style="width: 50rem; background-color:#29814A ">
    <h2>
        <p class="text-center font-weight-bold " style="font-family:  color: white;">
            Registrar </p>
    </h2>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <h4><label class="badge badge-secondary mx-auto">Datos requeridos</label></h4>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="nombreproductor" class="input-group-text" 
                                        style="font-family: Verdana; font-size: 16px">Nombre</label>
                                </div>
                                <input type="text" class="form-control" id="nombreproductor"  name="nombreproductor" [(ngModel)]="nombreproductor" required placeholder="Ingrese su nombre"
                                    minlength="3" maxlength="30" required pattern="[A-Z a-z]{3,30}"
                                    title="Solo se permiten letras mayúsculas y minúsculas">
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="apellidoproductor"
                                        style="font-family: Verdana; font-size: 16px">Apellido</label>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" id="apellidoproductor"  name="apellidoproductor" [(ngModel)]="apellidoproductor" required placeholder="Ingrese su apellido"
                                    minlength="3" maxlength="30" required pattern="[A-Z a-z]{3,60}"
                                    title="Solo se permiten letras mayúsculas y minúsculas">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="emailproductor"
                                            style="font-family: Verdana; font-size: 16px">Email</label>
                                    </div>
                                    <input type="email" class="form-control" id="emailproductor"  name="emailproductor" [(ngModel)]="emailproductor" required aria-describedby="emailHelp"
                                        placeholder="Ingrese su direccion de correo">
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="claveproductor"
                                            style="font-family: Verdana; font-size: 16px">Contraseña</label>
                                    </div>
                                    <input type="password" minlength="8" maxlength="30" class="form-control" id="claveproductor"  name="claveproductor" [(ngModel)]="claveproductor" required
                                        placeholder="Ingrese una contraseña">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="telefonoproductor"
                                            style="font-family: Verdana; font-size: 16px">Teléfono</label>
                                    </div>
                                    <input type="tel" class="form-control" id="telefonoproductor"  name="telefonoproductor" [(ngModel)]="telefonoproductor" required
                                        placeholder="Ingrese su numero de teléfono" minlength="9" maxlength="14"
                                        required pattern="[0-9]+" title="Números del 0-9">
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="claveproductor"
                                            style="font-family: Verdana; font-size: 16px">Verificar contraseña</label>
                                    </div>
                                    <input type="password" minlength="8" maxlength="30" class="form-control"  required
                                        placeholder="Ingrese nuevamente la contraseña">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid h-100">
                <div class="row w-100 align-items-center">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid" ><i class="fa fa-save"></i>
                            Guardar</button>
                    </div>

                    <div class="col text-center">
                        <button type="reset"  class="btn btn-danger" ><i class="fa fa-window-close"></i>
                            Cancelar</button>
                    </div>

                </div>
            </div>
            <br>
    </form>
</div>
<br>

