<br>
<div class="container " *ngIf="usuario" style="width: 50rem; background-color:#29814A ">
    <h2>
        <p class="text-center font-weight-bold " style="font-family: Verdana;font-size: 60px; color: white;">
            Modificar datos </p>
    </h2>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <h4><label class="badge badge-secondary mx-auto">Datos requeridos</label></h4>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="nombreusuario" class="input-group-text" 
                                        style="font-family: Verdana; font-size: 16px">Nombre</label>
                                </div>
                                <input type="text" class="form-control" id="nombreusuario"  name="nombreusuario" [(ngModel)]="usuario.nombreusuario" required placeholder="Ingrese su nombre"
                                    minlength="3" maxlength="30" required pattern="[A-Z a-z]{3,30}"
                                    title="Solo se permiten letras mayúsculas y minúsculas">
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="apellidousuario"
                                        style="font-family: Verdana; font-size: 16px">Apellido</label>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" id="apellidousuario"  name="apellidousuario" [(ngModel)]="usuario.apellidousuario" required placeholder="Ingrese su apellido"
                                    minlength="3" maxlength="30" required pattern="[A-Z a-z]{5,60}"
                                    title="Solo se permiten letras mayúsculas y minúsculas">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="emailusuario"
                                            style="font-family: Verdana; font-size: 16px">Email</label>
                                    </div>
                                    <input type="email" class="form-control" id="emailusuario"  name="emailusuario" [(ngModel)]="usuario.emailusuario" required aria-describedby="emailHelp"
                                        placeholder="Ingrese su direccion de correo">
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="claveusuario"
                                            style="font-family: Verdana; font-size: 16px">Contraseña</label>
                                    </div>
                                    <input type="password" minlength="8" maxlength="30" class="form-control" id="claveusuario"  name="usuario.claveusuario" [(ngModel)]="claveusuario" required
                                        placeholder="Ingrese una contraseña">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="telefonousuario"
                                            style="font-family: Verdana; font-size: 16px">Teléfono</label>
                                    </div>
                                    <input type="tel" class="form-control" id="telefonousuario"  name="telefonousuario" [(ngModel)]="usuario.telefonousuario" required
                                        placeholder="Ingrese su numero de teléfono" minlength="9" maxlength="14"
                                        required pattern="[0-9]+" title="Números del 0-9">
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="claveusuario"
                                            style="font-family: Verdana; font-size: 16px">Verificar contraseña</label>
                                    </div>
                                    <input type="password" minlength="8" maxlength="30" class="form-control"  required
                                        placeholder="Ingrese nuevamente la contraseña">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="direccionusuario"
                                        style="font-family: Verdana; font-size: 16px">Dirección</label>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" id="direccionusuario"  name="direccionusuario" [(ngModel)]="direccionusuario" required placeholder="Ingrese su direccion"
                                    minlength="3" maxlength="30" required pattern="[A-Z a-z]{3,60}"
                                    title="Solo se permiten letras mayúsculas y minúsculas">
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <br>
            <div class="container-fluid h-100">
                <div class="row w-100 align-items-center">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid" ><i class="fa fa-save"></i>
                            Actualizar</button>
                    </div>

                    <div class="col text-center">
                        <button  type="reset" class="btn btn-danger" ><i class="fa fa-window-close"></i>
                            Cancelar</button>
                    </div>

                </div>
            </div>
            <br>
    </form>
</div>
<br>