<body>
<div class="container fondo">
    <div>
        <div class="cart-grid row">
            <div class="cart-grid-body col-xs-12 col-lg-8">
                <br>
                <div class="card cart-container">
                    <div class="card-block mx-auto">
                        <h1 class="text-dark">CARRITO</h1>
                    </div>
                    <hr class="separator">
                    <div class="col">
                        <form method="POST">
                            <div class="card w-100"*ngFor="let carrito of carritos">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="assets/img/granossecos.png" height="100px" width="120px" alt="...">
                                        </div>
                                        <div class="col-md-7">
                                            <h3 class="card-title text-center ">{{carrito.nombreproducto}}
                                            </h3>
                                            <h5 class="card-title ">Categoría: {{carrito.categoriaproducto}}</h5>
                                            <h5 class="card-title ">Descripción: {{carrito.descripcionproducto}}</h5>
                                            <h5 class="card-title ">Precio: $ {{carrito.precioproducto}} </h5>
                                            <h5 class="card-title ">Peso (lb):{{carrito.pesoproducto}} </h5>
                                            
                                            <!-- <div id="cantidad_precio_pedido">
                                                <input id="" name="" type="number" class="form-control col-sm-3"
                                                    value="">
                                                <h5 class="card-title ">Pecio pedido: </h5>
                                            </div> -->
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger " (click)="borrar(carrito.idproducto)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a class="label "  routerLink="/productos">
                                <i class="fa fa-arrow-left"></i>Continuar comprando
                            </a>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <div class="cart-grid-right col-xs-12 col-lg-4">
                <br>
                <div class="card cart-summary">
                    <div class="cart-detailed-totals">
                        <div class="card-block">
                            <div class="alert alert-success">
                                <strong>Nota:</strong> Debe agregar todos los productos que desee comprar antes de
                                CONFIRMAR EL PEDIDO
                            </div>
                            <div class="text-center" id="cart-subtotal-products ">
                                <span class="h4 text-center" ng-controller="SumCtrl">
                                    Precio Total: <a class="h4 rojotext">$ {{total}}</a>
                                </span><br>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="checkout cart-detailed-actions card-block">
                        <div class="text-sm-center">
                            <input type="hidden" id="id" name="id" value="">
                            <button type="submit" class="btn btn-success">Confirmar el pedido</button> <br><br>
                            <a class="btn btn-primary" routerLink="/productos">Agregar más producto</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>