<br>
<div class="container " style="width: 50rem; background-color:#36ad72 ">

    <h2 style="font-family: Verdana;font-size: 60px;">
        <p class="text-center font-weight-bold " style="color: white;"> Modificar estado</p>
    </h2>

    <form action="" method="POST">

        <h4 style="font-family: Verdana;font-size: 44px;"><span class="badge badge-secondary mx-auto">Dato</span></h4>
        <div class="card">
            <div class="card-body">

                <br>



                <div class="row">

                    <div class="mx-auto">
                        <div class="col ">
                            <div class="mx-auto">
                                <div class="input-group mb-3" style="width: 440px;">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01"
                                            style="font-family: Verdana; font-size: 16px">Estado</label>
                                    </div>
                                    <select class="custom-select" id="opcionEstado">
                                        <option selected>Seleccionar...</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">





                    <div class="container-fluid h-100" id="botones">
                        <div class="row w-100 align-items-center">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-success" style="font-family: Verdana;
    font-size: 16px;"><i class="fa fa-save"></i> Guardar</button>
                            </div>

                            <div class="col text-left">
                                <button type="submit" class="btn btn-danger" style="font-family: Verdana;
    font-size: 16px;"><i class="fa fa-window-close"></i> Cancelar</button>
                            </div>

                        </div>

                    </div>


                    <br>
                </div>
                <br>

            </div>
        </div>
        <br>
    </form>
</div>
<br>